*{
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
}

body{
    padding-left: 2%;
    margin: 10%;
}
.text{
    display: inline;
    flex-direction: column;
    width: auto;
    align-self: center;
}
.inputsec{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-top: 10vh;
    line-height: 3;
}
label{
    font-size: 20px;
    margin-top: -3px;
    margin-right: 8px;
}
input{
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    inline-size: 17cqmax;
}
button{
    border-radius: 5px;
    display: inline;
    margin-left: 8px;
    display: flex;
    flex-direction: row;
}
.message{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}